/// TODO
/// I'm not sure whether it's a good idea to import this font in here
/// It won't be used anywhere else but in terms of css structure, it does
/// seem like a bad idea
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=block");

.joke {
  font-size: 8vw;
  font-family: "Caveat", "Arial";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;

  &-click-catcher {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
