/// TODO
/// I'm not sure whether it's a good idea to import this font in here
/// It won't be used anywhere else but in terms of css structure, it does
/// seem like a bad idea
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=block");

.joke {
  font-size: min(13vw, 13vh);
  font-family: "Caveat", "Arial";
  text-align: center;
  padding: max(10vw, 120px) 10vw;

  &--click-catcher {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--used-ratio {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #00000050;
    border-bottom-right-radius: 5px;
  }
}
