/// Adds 100% width and height
@mixin hundred-percent-width-height() {
  height: 100%;
  width: 100%;
}

@mixin disable-user-select() {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@mixin enable-user-select() {
  -webkit-user-select: auto; /* Chrome auto / Safari auto */
  -moz-user-select: auto; /* Firefox auto */
  -ms-user-select: auto; /* IE 10+ */
  user-select: auto; /* Likely future */
}
