@import "../../../styles/abstracts/mixins";

.not-found-view {
  text-align: center;
  color: white;

  &-title {
    font-size: 5em;
    margin-top: -1em;
  }

  &-message {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  &-home-link {
    font-size: 1.4em;
    font-weight: 700;
  }
}
