.trucker-jokes-layout {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.trucker-jokes-layout-title {
  padding-bottom: 0.4em;
  font-weight: 600;
  text-align: center;
}

.trucker-jokes-layout-subtitle {
  padding-bottom: 0.2em;
  text-align: center;
}
