
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }
}
