:root {
  --ruby-dark: #c70000;
  --white: #ffffff;
  --blue-light: #0055ff;
  --blue-dark: #002255;
  --green-light: #006600;
  --green-dark: #005500;
  --yellow: #776600;
  --brown: #444400;
  --white: #ffffff;
  --black: #141414;
  --black-2: #232323;

  --green-1: rgba(71, 140, 2, 1);
  --green-2: rgba(165, 191, 72, 1);
  --yellow-1: rgba(239, 242, 147, 1);
  --yellow-2: rgba(242, 226, 4, 1);
  --yellow-3: rgba(242, 231, 179, 1);

  --grass-height: 40%;

  // #488C03
  /* Color Theme Swatches in Hex */
  //  color: #488C03;
  //  color: #A6BF49;
  //  color: #EFF294;
  //  color: #F2E205;
  //  color: #F2E8B3;

  /* Color Theme Swatches in RGBA */

  /* Color Theme Swatches in HSLA */
  //  color: hsla(90, 96, 28, 1);
  //  color: hsla(73, 48, 51, 1);
  //  color: hsla(61, 78, 76, 1);
  //  color: hsla(56, 96, 48, 1);
  //  color: hsla(50, 71, 82, 1);
}
