.home {
  display: grid;
  /// Hero section does not yet exist but its placement is denoted here
  grid-template-areas: 'header' 'nav';
  grid-template-rows: 0 2fr;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}
