.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__title {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;

    & h1 {
      text-align: center;
    }
  }
}
