.paper-chain-list {
  margin-top: 1em;
}

.paper-chain-list-item {
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 3em;
  }
}

.paper-chain-list-item-timestamp {
  margin-top: 0.2em;
  text-align: end;
  font-size: 0.8em;
}
