//// The color palette has been created using this resource:
//// https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #222;
}

h1,
h2,
h3 {
  color: #f1faee;
}

a {
  color: #f1faee;

  &:hover {
    color: #a8dadc;
  }
}

.paper-chain-list-item {
  color: white;
  background-color: gray;
}

.paper-chain-list__no-items-indicator,
.paper-chain-list__loading-indicator,
.paper-chain-layout-subtitle {
  color: #bbb;
}

.nav-link {
  &-route {
    color: #ffa800;
  }

  &-social {
    color: #6ebad2;
  }
}
