//// The color palette has been created using this resource:
//// https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

body {
  background: linear-gradient(#457b9d, #1d3557);
  background-attachment: fixed;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1,
h2,
h3 {
  color: #f1faee;
}

a {
  color: #f1faee;

  &:hover {
    color: #a8dadc;
  }
}

.paper-chain-list-item {
  color: white;
}

.paper-chain__no-items-indicator,
.paper-chain__loading-indicator,
.paper-chain-layout-subtitle {
  color: #bbb;
}
