:root {
  --ruby-dark: #c70000;
  --white: #ffffff;
  --blue-light: #0055ff;
  --blue-dark: #002255;
  --green-light: #006600;
  --green-dark: #005500;
  --yellow: #776600;
  --brown: #444400;
  --white: #ffffff;
  --black: #141414;
  --black-2: #232323;

  --green-1: rgba(71, 140, 2, 1);
  --green-2: rgba(165, 191, 72, 1);
  --yellow-1: rgba(239, 242, 147, 1);
  --yellow-2: rgba(242, 226, 4, 1);
  --yellow-3: rgba(242, 231, 179, 1);

  --grass-height: 40%;

  // #488C03
  /* Color Theme Swatches in Hex */
  //  color: #488C03;
  //  color: #A6BF49;
  //  color: #EFF294;
  //  color: #F2E205;
  //  color: #F2E8B3;

  /* Color Theme Swatches in RGBA */

  /* Color Theme Swatches in HSLA */
  //  color: hsla(90, 96, 28, 1);
  //  color: hsla(73, 48, 51, 1);
  //  color: hsla(61, 78, 76, 1);
  //  color: hsla(56, 96, 48, 1);
  //  color: hsla(50, 71, 82, 1);
}

#canvas {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--blue-light), var(--blue-dark));
}

.grass {
  height: 40%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--green-light), var(--green-dark));
}

.house {
  position: fixed;
  left: 15vw;
  bottom: 40%;
  z-index: 100;
  display: grid;
  justify-content: center;

  &-facade {
    background-color: var(--yellow);
    height: 10vw;
    margin-left: 2vw;
    margin-right: 2vw;
    display: block;

    &-window {
      background-color: var(--blue-light);
      width: 3vw;
      height: 4vw;
      position: relative;
      left: 1vw;
      top: 1vw;
    }

    &-door {
      background-color: var(--brown);
      position: absolute;
      width: 4vw;
      height: 9vw;
      right: 3vw;
      top: 8vw;
    }
  }

  &-roof {
    border-left: 7vw solid transparent;
    border-right: 7vw solid transparent;
    border-bottom: 7vw solid var(--ruby-dark);
  }

  &-chimney {
    background-color: var(--ruby-dark);
    width: 2vw;
    top: 1vw;
    height: 4vw;
    left: 2vw;
    position: absolute;
  }
}

.billboard {
  width: 30vw;
  display: block;
  position: fixed;
  left: 50vw;
  bottom: var(--grass-height);
  transform: skew(0, 10deg);

  &-frame {
    padding: 3vw;
    background-color: var(--black);

    &-top {
      background-color: var(--black-2);
      width: 30vw;
      height: 2vw;
      position: absolute;
      top: -2vw;
      left: 1vw;
      transform: skew(-45deg);
    }
  }

  &-leg {
    @mixin common {
      background-color: var(--black);
      width: 3vw;
      height: 10vw;
      position: absolute;
    }

    &-left {
      @include common;
      left: 0;
    }

    &-right {
      @include common;
      right: 0;
    }

    &-side {
      @mixin common-side {
        background-color: var(--black-2);
        width: 2vw;
        top: -1vw;
        height: 28vw;
        position: absolute;
        z-index: -1;
      }

      &-left {
        @include common-side;
        transform: skew(0, -45deg);
        left: 3vw;
        bottom: 1vw;
      }

      &-right {
        @include common-side;
        transform: skew(0, -45deg);
        right: -2vw;
        bottom: 1vw;
      }
    }
  }

  &-image {
    background-color: var(--white);
    display: grid;
    text-align: center;

    &-padding {
      padding: 2vw;
    }

    &-header {
      font-weight: 700;
      font-size: 1.6vw;
    }

    &-title {
      font-weight: 700;
      font-family: "serif";
      font-size: 3vw;
      margin: 0.4vw;
    }

    &-subtitle {
      font-size: 1.4vw;
      font-weight: 700;
    }
  }
}

.mountain {
  position: fixed;
  bottom: var(--grass-height);
}
