@import '../abstracts/mixins';

/// This 100% height declaration gives the best result with mobile
html {
  @include hundred-percent-width-height;
}

body {
  @include hundred-percent-width-height;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/// Anything that is below #root shall be styled by their own component files
#root {
  @include hundred-percent-width-height;
}
