@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=block");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=block");

h1,
h2,
h3,
.nav-link {
  font-family: "Bebas Neue", Arial;
}

h4,
h5,
h6,
p,
div,
span {
  font-family: "Open Sans", sans-serif;
  // line-height: 1.4em;
}

/// Used for the title "Utku Sarioglu"
h1 {
  font-size: 2rem;
}

/// General properties of <a>
/// Do not put instance implementation properties here.
/// Those belong in their respective components
a {
  font-weight: 300;
  text-decoration: none;
}

p {
  margin-bottom: 0.8em;
}

// .nav-link {
//   &-route {
//     font-size: 4.5em;
//     line-height: 1.2em;
//   }
//   &-social {
//     font-size: 4.5em;
//     line-height: 1.2em;
//   }
//   &-extra {
//     font-size: 4.5em;
//     line-height: 1.2em;
//   }
// }
